<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>¡Sobre Mí!</title>
  <link rel="stylesheet" href="tab3.page.scss">
</head>
<body>
  <div class="container">
    <img src="assets/pictures/Mia.jpg" alt="Mi Foto" class="profile-pic">
    <h1>Soy <span class="name">Adrian Lucena Varo</span></h1>
    <p>Tengo 21 años y soy estudiante de una grado supero de desarrollo de aplicaciones multiplataforma.</p>
    <p>  Me apasiona el mundo de la programación y siempre estoy buscando aprender y mejorar <br>
         mis habilidades en el desarrollo de software. Creo en la innovación y en la capacidad, <br>
         de la tecnología para transformar nuestro mundo.</p>
    <p>Estoy emocionado por contribuir al mundo de la tecnología y enfrentar nuevos desafíos en el camino.</p>
  </div>
</body>
</html>
